html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
html {
	height: 100%;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}

.header {
	background: #f51a1a;
	height: 90px;
	max-height: 90px;
	display: flex;
}

.header__arrow {
	filter: invert(1);
	padding: 10px;
	height: -webkit-fill-available;
}

.scanner {
	width: 60%;
	margin: 0 auto;
	margin-top: 30px;
	border-radius: 60px;
	overflow: hidden;
}

.result {
	width: 80%;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.result__image {
	width: 40%;
}

.result__button {
	display: flex;
	justify-content: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 50px 0;
	background: #fff;
}

.result__button button {
	padding: 20px;
	border: 0;
	background: #f51a1a;
	color: #fff;
	font-size: 24px;
	border-radius: 20px;
	width: 40%;
	cursor: pointer;
}

.result__row {
	font-size: 24px;
}

.result__row span {
	font-weight: 600;
}

h1 {
	text-align: center;
	font-size: 34px;
	font-weight: 500;
	margin-top: 30px;
}

.spinner-border {
	display: inline-block;
	width: 4rem;
	height: 4rem;
	vertical-align: text-bottom;
	border: 0.3em solid currentColor;
	border-right-color: transparent;
	border-radius: 50%;
	-webkit-animation: spinner-border 0.75s linear infinite;
	animation: spinner-border 0.75s linear infinite;
	color: #f51a1a;
}
.shake {
	animation: shake 0.3s linear infinite;
}
@keyframes shake {
	0% {
		transform: translate(0, 0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translate(-2px, 0);
	}
	20%,
	40%,
	60%,
	80% {
		transform: translate(2px, 0);
	}
	100% {
		transform: translate(0, 0);
	}
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

@keyframes spinner-border {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.result__error {
	font-size: 32px;
	font-weight: 500;
	max-width: 600px;
	text-align: center;
}

.main {
	display: flex;
	justify-content: center;
	padding: 30px;
}
.main__button {
	padding: 30px;
	border-radius: 30px;
	border: 0;
	background: #c3c1c1;
	cursor: pointer;
}
.main__img {
	width: 408px;
}

@media screen and (max-width: 992px) {
	.scanner {
		border-radius: 42px;
	}
	.result__image {
		width: 60%;
	}
	.result__button button {
		width: 60%;
	}
}

@media screen and (max-width: 768px) {
	.scanner {
		border-radius: 26px;
		width: 80%;
	}
	.result__image {
		width: 80%;
	}
	.result__button {
		display: flex;
		justify-content: center;
		position: fixed;
		bottom: 0;
		width: 100%;
		padding: 30px;
		background: #fff;
	}
}

@media screen and (max-width: 576px) {
	.header {
		height: 56px;
		max-height: 56px;
	}
	h1 {
		font-size: 24px;
		font-weight: 500;
		margin-top: 20px;
	}
	.scanner {
		border-radius: 16px;
		width: 90%;
		margin-top: 20px;
	}
	.result {
		width: 90%;
		gap: 14px;
		margin-top: 16px;
	}
	.result__image {
		width: 100%;
	}
	.result__row {
		font-size: 18px;
	}
	.result__button button {
		padding: 14px;
		font-size: 20px;
		border-radius: 10px;
		width: 60%;
	}
	.result__button {
		padding: 20px 0;
	}
	.main {
		padding: 20px;
	}
	.main__button {
		padding: 20px;
		border-radius: 20px;
	}
	.main__img {
		width: 100%;
	}
}
